# Output files from MD runs
*.gsd
*.txt
*.swp
notes

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

phantomwalk/examples/rdf.csv
phantomwalk/examples/trajectory.gsd
phantomwalk/examples/log.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

